.one{
    background-image: url(../img/Computer\ Science.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.topnav {
    background-color: rgb(30, 167, 201);
    overflow: hidden;
    float: right;

  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a:hover {
    background-color: rgb(39, 151, 39);
    color: black;
    }
    .topnav a.active {
        background-color:whitesmoke;
        color:black;
       }
.web {
  font-size: 230%;
  font: bolder;
  color: rgb(170, 233, 217);
  padding-left: 100px;
  padding-bottom: 50px;
  font-weight: 300;
 
}
.two{
  background-image: url(/home/katerina/Documents/Moringa-School-Projects/IP-PROJECT/img/kate.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.check {
  font-size: 150%;
  font: bolder;
  color: rgb(5, 7, 7);
  padding: 5px;
  }
 
  .italian {
    font-style: italic;
  }
 .over{
   font-size: larger;
   font-style:bold;
 }
 h1{
   text-align: center;
 }
 h2{
  text-align: center;
}
 .paro{
 text-align: left;
 font-size: medium;
 margin-left: 400px;
 margin-right: 400px;
}
h1{
text-align: center;
}
fieldset{
  margin: auto;
  width: 30%;
  padding: 1em 2em;
  border:1px solid blue;
  border-radius: 6px;
 

}
legend{
  font-size: 1.25em;
  padding: 0.25em;
  color: blueviolet;
}
@media screen  and(min-width: 430px){
  legend{
    font-size: 1.75em
  }
  fieldset{
    width: 40%
    min-width 420px;
    margin: auto;
  }
}
.pet{
font-size: medium;
color: rgb(255, 38, 0);
text-align: center;
}
  